/*  Table of Contents
==================================================
	#Z-Index Item Hierarchy
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face 
*/

/*  Animation Note
==================================================
	#Set the transition details [eg: transition: opacity .75s ease-in-out] in the "before/original" and place desired result in the "after/hover" to achieve a complete animation.
*/

/*  #Z-Index Item Hierarchy
================================================== 
	8		.resume-pic
	11		.links a
	15		#resume
	99999	.white-bar
			.blank-bar
*/	
	
	
/*  #Site Styles
================================================== */
	
	#pattern-bar {
		position: relative;
		z-index: 0;
		left: 0;
		top: 50px;
		margin-bottom: -80px;
		height: 75px;
		background-image: url(../images/cream_pixels.png);
		background-repeat: repeat-x;
	}

	/* .blank-bar AKA The transparent container for links
	   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.blank-bar {
		display: table;
		width: 100%;
		position: relative;
		margin: 0px;
		height: 50px;
		z-index: 99999;
	}

	.blank-bar > nav {
		padding: 15px 0;
		max-width: 1200px;
		margin: 0 auto;
	}


	/* Navigation Links inside .blank-bar
	   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	NOTE: 30px LR from blank-bar > nav PLUS 10px in the links = 40PX PADDING */

	.links a {
		font-family: 'Playfair Display', Georgia, serif;
		font-weight: 700;
		font-size: 1.7rem;
		display: inline-block;
		padding: 0 15px;
		top: -50px;
		color: black;
		text-decoration: none;
		border-bottom: 4px solid transparent;
		text-shadow: 1.5px 1px 0px rgba(255,255,255,0.75)
	}

	.links a:first-child {
		margin-left: -15px
	}

	.links a:hover {
		border-color: black;
		font-style: italic;
	}

	/* .white-bar AKA The container for Colombo Productions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.white-bar {
		position: relative;
		margin-top: -10px;
	}

	.white-bar > header {
		padding: 15px 0;
		max-width: 1200px;
		margin: 0 auto;
	}

	.white-bar > header h1 {
		font-size: 3.4rem;
		line-height: 30px;
		margin: 0; 	/* Keep the "Designs" line under "Colombo" */
		font-family: 'Playfair Display', Georgia, serif;
		font-weight: 900;
		color: #111;
		float: left;
	}

	.white-bar > header p {
		display: inline
	}

	.content-wrapper {
		font-family: 'Playfair Display', Georgia, serif;
		font-weight: 400;
		font-style: italic;
		padding-top: 32px;	/* Pushes the span line under the "Colombo" line */
	}
	

/* #Page Styles
================================================== */

	/* 	The Front Page
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.portfolio-section {
		transition: all .5s ease;
		transition-property: opacity; 
	}
	.portfolio-section:hover { 
		opacity: 0.5;
	}	
	

	/* My Portfolio Page
	   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	/* Side Project Menu */

	#portfolio {
		margin-top: 15px;
		padding: 25px 25px;
		position: relative;
		z-index: 15;
	}

	.menu-section {

	}

	.menu-header {
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 10px
	}

	.menu-project {
		padding: 0 5px;
		height: 50px;
		margin-bottom: 5px;	
   	}

   	.menu-project:hover {
   		transition: all .5s ease;
   		background-color: yellow
   	}

   	.menu-project:active {
   		background-color: yellow
   	}

   	.menu-thumb {
		float: left;
		padding-right: 7px;

	}

	.menu-link {
		padding-top: 50px;
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-size: small;
		font-style: italic;
		text-decoration: none
	}
	

	/* Main Project Area*/
	.project-container {
		border-bottom: 5px dotted red;
		margin-bottom: 10px;
	}

	.project-title {
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		font-size: xx-large;
		text-align: center;
		margin-bottom: 5px;
	}

	.project-details {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: small;
	}
	

	/* The Resume Page
	   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	
	/* Background picture for the page */
	.resume-pic {
		top: -50px;
		left: 0;
		height: 1200px;
		position: fixed;
		z-index: 8;
		overflow: auto;
		opacity: 0.5;
	}

	/* Details specific to the #resume container.
	   margin-top mimics a <div="row"> */
	#resume {
		margin-top: 20px;
		padding: 0 25px;
		position: relative;
		z-index: 15;
		background-color: white;
		border-radius: 25px;	
	}

	/* This section of IDs details the look of the PDF resume download */
	#pdf-icon {
		display: inline;
		vertical-align: middle;
	}

	#pdf-resume {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: medium;
		margin: 25px 0 -5px;
		text-align: center;
	}

	#pdf-resume > a {
		text-decoration: none;
		border-bottom: .2rem solid gray;
	}

	#pdf-resume > a:hover {
		border-color: black;
	}

	/* Start of the Resume */
	#resume-title {
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		font-size: xxx-large;
	}

	#my-position {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 2.15rem;
		margin-top: -25px;
		color: black
	}

	.resume-link {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: medium;
		display: table;
		text-decoration: none;
		line-height: 150%
		vertical-align: middle;
	}

	.resume-link:first-child {
		margin-top: 13px;
	}

	/* Padding creates the black bar background; 
	   margin removes some of the space created by padding */
	.resume-section {
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: x-large;
		background-color: black;
		color: white;
		padding: 5px 0 5px 5px;
		margin: -8px 0 0 -5px;
	}

	.sub-section {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: large;
		margin: 5px 0 0;
	}

	.job-title {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: medium;
	}

	.job-dates {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: medium;
		color: gray;
		margin: -20px 0 20px;
	}

	/* Closes the gap between .job-dates and .job-details */	
	h3 + ul {
		margin-top: -18px;
	}

	/* Margin creates a minimal amount of space BETWEEN list items */	
	.job-details {
		margin: -2px
	}
	

	/* Margin removes the space AFTER LAST list item */	
	li:last-child {
		margin-bottom: -10px
	}


/* #Font-Face
================================================== */

	/*  These are the fonts used on the site.
	    Headline fonts are Playfair Display; body fonts are Lato.
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic,700,900italic,900);
		@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

	/*	@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,700,900);
		@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,500,700,900,);
		@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:700italic);
	*/


/* #Unused Working Snippets
==================================================

	.color {
		background-image: url(../images/wood_pattern.png);
		background-repeat: repeat;
		height: 250px;
		font-size: 4.8rem
	} 

	.spacer {
		position: relative;
		padding-bottom: 25px;
	}

	.gallery-thumbs {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		width: 75px;
		height: 75px;

		transition: all .5s ease;
		transition-property: width, height, opacity;
	}
		
	.gallery-thumbs:hover {
		width: 100px;
		height: 100px;
		opacity: 0.5;
	}
	
	/* Background picture for the page *
	.gallery-text-trick  {
		font-size: 10px;
		transition: all .5s ease;
		transition-property: font-size, translateY;

	}
	.gallery-text-trick:hover {
		font-size: 20px;
		transform:translateY(-15px);
	}

	.project-title-right {
		float: right;
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		font-size: xx-large;
	}
*/